.post {
    margin: auto;
    margin-left: 55%;
    width: 35%;
    display: block;
    margin-top: 2rem;
}

.autor {
    margin-left: 150px;
    width: 35%;
    display: block;
    margin-top: 2rem;
    position: absolute;
}

.title {
    margin: auto;
}

mat-paginator {
    margin-top: 2rem;
}

.material-icons.blue {
    color: #3f51b5;
}

footer {
    margin-top: 205px;
    height: 70px;
    background-color: #3f51b5;
}